.tournament__content {
    background-color: #1d2326;
    padding: 1rem;
    width: 715px;
    height: 148.7px;
    color: #fff;
  
    /* @media (max-width: 620px) {
      padding: 0.4rem;
      padding-left: 0.5rem;
      padding-bottom: 1rem;
      width: 100%;
      height: 77px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      border: solid 1px #283640;
    } */
  }

  .label--ongoing {
    background-color: #c00;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    font-size: 12px;
    cursor: default;
}

  .tournament__content--title {
    border-bottom: 1px solid #3a4348;
    padding: 0px 0px 10px 0px;
}

  .img-turnamen {
    width: 262px;
    height: 148.7px;
    /* @media (max-width: 620px) {
      width: 111px;
      height: 77px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    } */
  }
  
  .height-55 {
    height: 55%;
  }

  .width-30 {
    width: 30% !important;
}
  
  .tournament__content--title h3 {
    font-size: 1.3rem;
    /* @media (max-width: 620px) {
      font-size: 0.8rem;
    }
    @media (min-width: 320px) and (max-width: 385px) {
      font-size: 0.47rem;
    }
    @media (min-width: 376px) and (max-width: 1023px) {
      font-size: 0.65rem;
    } */
  }
  /* .tournament__content--title {
    @media (max-width: 620px) {
      border-bottom: none;
    }
  }
  .text-muted {
    @media (max-width: 620px) {
      font-size: 0.75rem;
    }
  }
  .small-text {
    @media (max-width: 620px) {
      font-size: 0.75rem;
    }
  } */