.navigation-panel {
    width: 100%;
    height: 5vw;
    background-color: #12181a;
  }

  @media screen and (max-width: 1023px){
    .navigation-panel{
      height: 18vmin;
    }
  }

  .container-panel {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
  }

  .btn--masuk--landing {
    width: 12vw;
    height: 3vw;
    border-radius: 30px;
    color: #05040a;
    font-size: 1rem;
    line-height: 20px;
    margin: 1vw;
    padding: 4px;
    background-color: #f3c500;
    cursor: pointer;
    border: none;
    font-weight: bold;
  }

  @media screen and (max-width: 1023px){
    .btn--masuk--landing{
      margin: 10px;
      width: 34vmin;
    height: 10vmin;
    }
  }

  .logo-yamisok {
    width: 132px;
    height: 36px;
    margin: 1vw;
  }

  @media screen and (max-width: 1023px){
    .logo-yamisok{
      margin: 3vmin;
    }
  }